body{
  background-color: black;
}

h1{
  color: white;
  font-family: "Libre Baskerville", serif;;
  text-align: center;
}

img{
  border: 5px solid white;
  margin-left: 24.8%;
}

p{
  color: white;
  text-align: center;
  font-size: 24px;
}

div{
  margin-top: 60px;
  width: 50%;
  margin-left: 25%;
}
